@model IEnumerable<YellowCart.Models.Cart>




<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-action="index" asp-controller="home">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
             
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                    <th class="li-product-subtotal">
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <form method="post" asp-action="Edit" asp-controller="Carts" asp-route-Id="@item.Id">
                                    <tr>
                                        <td class="li-product-remove"><a asp-action="Delete" asp-controller="Carts" asp-route-Id="@item.Id"><i class="fa fa-times"></i></a></td>
                                        <td class="li-product-thumbnail"><a href="#"><img style="width:180px; height:180px" src=@item.Product.Image alt="Li's Product Image"></a></td>
                                        <td class="li-product-name"><a asp-action="Details" asp-controller="Products" asp-route-Id="@item.ProductId">@item.Product.ProductName</a></td>
                                        <td class="li-product-price"><span class="amount">LKR @item.Product.Price.00</span></td>
                                        <td class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" name="qty" value="@item.Quantitive" type="text">
                                                   
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">LKR @item.Total.00</span></td>
                                        <td class="product-subtotal">
                                            <div class="coupon2">
                                               
                                                <input class="button" name="update_cart" value="Update cart" type="submit">
                                           
                                                <a asp-action="Create" asp-controller="Orders" asp-route-Id="@item.Id"> Checkout</a>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                 </form>
                                }
                                
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    @{
                                        int x = 0;
                                    
                                    foreach(var item in Model)
                                    {
                                        x+=item.Total;
                                    }
                                    <li>Subtotal <span>LKR @x.00</span></li>
                                    <li>Total <span>LKR @x.00</span></li>
                                    }
                                </ul>
                                @*<a href="#">Proceed to checkout</a>*@
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->

     @*           <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
